<!DOCTYPE html>


{% comment %} {% extends "base.html" %} {% endcomment %}
{% comment %} {% block title %}Index{% endblock title %} {% endcomment %}
{% comment %} {% block header %}Главная{% endblock header %} {% endcomment %}

{% comment %} django code {% endcomment %}
{% load static %}
{% comment %}django code {% endcomment %}

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>>Южно региональная экспертная группа</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

{% comment %} django code {% endcomment %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'svg/' %}">
{% comment %} django code {% endcomment %}

</head>



<body>
<!-- partial:index.partial.html -->
<h1>ООО  "Южно региональная экспертная группа"</h1>
<h3>Российская инжиниринговая компания</h3>
<p>г. Краснодар, +7 (918)-451-66-11</p>


<!-- 2 col -->
<h2 class="type">Основные направления деятельности компании </h2>

<div class="table-grid">
	<div class="table-grid--container">
		<div class="table-grid--row">

				<div class="tg-col-6">
					<h2>Автотехническая экспертиза</h2>


					<div class="tg-col image" data-width="12">
				{% comment %} <img src="https://unsplash.it/900/400?image=163" alt="Table"> {% endcomment %}
				<img src="{% static 'images/1.jpg' %}" alt="Stones along the river" ></div>

					<p>Исследование обстоятельст дорожно-транспортного происшествия </p>
					<p>Исследование технического состояния ТС</p>
					<p>Исследование следов на транспортных средствах и месте ДТП (транспортно-трасологическая диагностика) </p>
					<p>Исследование транспортных средств в целях определения стоимости восстановительного ремонта и остаточной стоимости  </p>
					<p>Исследование лакокрасочных материалов и покрытий</p>
				</div>

				<div class="tg-col-6">
					<h2>Независимая техническая экспертиза транспортных средств</h2>
<h4>Методики расчета</h4>
<p>РД 37.009.015-98</p>
<p>Министерство юстиции РФ</p>
<p>№ 001МР/СЭ, НИИАТ</p>
<p>Постановление №361</p>
<p>Постановление №717</p>
<p>Единая методика ЦБ</p>



					<div class="tg-col image" data-width="12">
				{% comment %} <img src="https://unsplash.it/900/400?image=163" alt="Table"> {% endcomment %}
				<img src="{% static 'images/1.jpg' %}" alt="Table"></div>
				</div><!--// right -->

		</div><!--// .table-grid--row -->
	</div><!--// .table-grid--container -->
</div><!--// .table-grid -->

{% comment %}  {% endcomment %}
<h2 class="type">custom width override</h2>
<p>Add  to get a custom percentage based width. The other column is set to auto if undefined.</p>
<div class="table-grid">
	<div class="table-grid--container">
		<div class="table-grid--row">
			<div class="tg-col image" data-width="62">
				{% comment %} <img src="https://unsplash.it/900/400?image=163" alt="Table"> {% endcomment %}
				<img src="{% static 'images/1.jpg' %}" alt="Table">
			</div>
			<div class="tg-col" data-vertical-align="middle">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat voluptatibus perferendis voluptatem, ipsum reprehenderit odit repellendus expedita veniam tenetur, fuga rerum alias. Modi, saepe non. Delectus officiis, unde necessitatibus.</p>
			</div>
		</div>
	</div>
</div>

{% comment %}  {% endcomment %}






<!-- 3 col -->
<h2 class="type">3 Col</h2>
<p>Add  for custom pixel-based gutters.</p>

<div class="table-grid" data-gutter="40"><!-- parent - overflow -->
	<div class="table-grid--container"><!-- neg margins -->
		<div class="table-grid--row">

				<div class="tg-col-4" data-vertical-align="middle">
					<h2>Heading Here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque</p>
					<p><code>data-vertical-align="middle"</code></p>
			</div>

			<div class="tg-col-4">
				<h2>Heading Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div><!--// right -->

			<div class="tg-col-4" data-vertical-align="bottom">
				<h2>Heading Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
				<p><code>data-vertical-align="bottom"</code></p>
			</div>

		</div><!--// .table-grid--row -->
	</div><!--// .table-grid--container -->
</div><!--// .table-grid -->


<!-- 4 col -->
<h2 class="type">4 Col</h2>
<div class="table-grid"><!-- parent - overflow -->
	<div class="table-grid--container"><!-- neg margins -->
		<div class="table-grid--row">

				<div class="tg-col-3">
					<h2>Heading Here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div>

			<div class="tg-col-3">
				<h2>Heading Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div><!--// right -->

			<div class="tg-col-3">
				<h2>Heading Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div>

			<div class="tg-col-3">
				<h2>Heading Here</h2>
			</div><!--// right -->

		</div><!--// .table-grid--row -->
	</div><!--// .table-grid--container -->
</div><!--// .table-grid -->



<!-- 8 / 4 -->
<h2 class="type">8 - 4 col</h2>
<div class="table-grid"><!-- parent - overflow -->
	<div class="table-grid--container"><!-- neg margins -->
		<div class="table-grid--row">

				<div class="tg-col-8">
					<h2>Heading Here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div>

			<div class="tg-col-4">
				<h2>Исследования</h2>
				<p>Определение размера материального ущерба, нанесенного автотранспортному средству в результате дорожно-транспортных происшествий, противоправных действий третьих лиц;
Расчет рыночной стоимости автотранспортных средств;
Расчет стоимости годных остатков автотранспортных средств;
Расчет утраты товарной стоимости (УТС);
Проверка счетов с автосервисов?</p>

			</div><!--// right -->

		</div><!--// .table-grid--row -->
	</div><!--// .table-grid--container -->
</div><!--// .table-grid -->





<div class="table-grid">
	<div class="table-grid--container">
		<div class="table-grid--row">

			<div class="tg-col-4">

					<div class="tg-col image" data-width="12">
				{% comment %} <img src="https://unsplash.it/900/400?image=163" alt="Table"> {% endcomment %}
				<img src="{% static 'images/1.jpg' %}" alt="Table"></div>

			</div>
			<div class="tg-col-4">

					<div class="tg-col image" data-width="12">
				{% comment %} <img src="https://unsplash.it/900/400?image=163" alt="Table"> {% endcomment %}
				<img src="{% static 'images/1.jpg' %}" alt="Table"></div>
			</div>
			<div class="tg-col-4">


					<div class="tg-col image" data-width="12">
				{% comment %} <img src="https://unsplash.it/900/400?image=163" alt="Table"> {% endcomment %}
				<img src="{% static 'images/1.jpg' %}" alt="Table"></div>
			</div>
		</div>
	</div>
</div>

{% comment %}  Футер{% endcomment %}

 <footer id="footer"

          class="l-footer "
          data-location="home:footer">
    <div class="container">
      <div class="row">
        <div class="l-footer__content">
          <article class="l-footer__about">
            <header class="l-footer__logo">
              {% comment %} <a href="index.html">
                <img class="nav__logo"
                     src="logo.svg"
                     alt="ООО ЮРЭКСП">
              </a> {% endcomment %}
            </header>


      <p class="l-footer__copy">© 2020. ООО "Южно региональная экспертная группа"
	  </p>
    </div>
  </footer>

{% comment %} конец Футер {% endcomment %}

<!-- partial -->
{% comment %} django code {% endcomment %}
<script  src="{% static 'js/script.js' %}"></script>
{% comment %} django code  {% endcomment %}
</body>
</html>
