<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Responsive CSS Table Grid</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>CSS Table Grid</h1>
<p>Handy for equal height columns w/out JS. Should play nicely with other frameworks. You can set <code>$customGutters</code> &amp; <code>$customWidths</code> to <code>false</code> to reduce CSS if you want to use defaults. Override naming scheme in Sass variables to your liking.</p>

<!-- 2 col -->
<h2 class="type">2 Col Две колонки</h2>

<div class="table-grid">
	<div class="table-grid--container">
		<div class="table-grid--row">

				<div class="tg-col-6">
					<h2>Первая колонка</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
				</div>

				<div class="tg-col-6">
					<h2>Heading Here</h2>
				</div><!--// right -->

		</div><!--// .table-grid--row -->
	</div><!--// .table-grid--container -->
</div><!--// .table-grid -->


<!-- 3 col -->
<h2 class="type">3 Col</h2>
<p>Add <code>data-gutter="40"</code>  on <code>.table-grid</code> for custom pixel-based gutters.</p>
<div class="table-grid" data-gutter="40"><!-- parent - overflow -->
	<div class="table-grid--container"><!-- neg margins -->
		<div class="table-grid--row">

				<div class="tg-col-4" data-vertical-align="middle">
					<h2>Heading Here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque</p>
					<p><code>data-vertical-align="middle"</code></p>
			</div>

			<div class="tg-col-4">
				<h2>Heading Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div><!--// right -->

			<div class="tg-col-4" data-vertical-align="bottom">
				<h2>Heading Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
				<p><code>data-vertical-align="bottom"</code></p>
			</div>

		</div><!--// .table-grid--row -->
	</div><!--// .table-grid--container -->
</div><!--// .table-grid -->


<!-- 4 col -->
<h2 class="type">4 Col</h2>
<div class="table-grid"><!-- parent - overflow -->
	<div class="table-grid--container"><!-- neg margins -->
		<div class="table-grid--row">

				<div class="tg-col-3">
					<h2>Heading Here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div>

			<div class="tg-col-3">
				<h2>Heading Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div><!--// right -->

			<div class="tg-col-3">
				<h2>Heading Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div>

			<div class="tg-col-3">
				<h2>Heading Here</h2>
			</div><!--// right -->

		</div><!--// .table-grid--row -->
	</div><!--// .table-grid--container -->
</div><!--// .table-grid -->



<!-- 8 / 4 -->
<h2 class="type">8 - 4 col</h2>
<div class="table-grid"><!-- parent - overflow -->
	<div class="table-grid--container"><!-- neg margins -->
		<div class="table-grid--row">

				<div class="tg-col-8">
					<h2>Heading Here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div>

			<div class="tg-col-4">
				<h2>Heading Here</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat numquam corrupti rerum tenetur tempora maxime culpa neque, iusto fuga deleniti delectus veniam commodi itaque deserunt iste aut sapiente. Nemo, nulla?</p>
			</div><!--// right -->

		</div><!--// .table-grid--row -->
	</div><!--// .table-grid--container -->
</div><!--// .table-grid -->


<h2 class="type">custom width override</h2>
<p>Add <code>data-width="62"</code> to <code>.tg-col</code> to get a custom percentage based width. The other column is set to auto if undefined.</p>
<div class="table-grid">
	<div class="table-grid--container">
		<div class="table-grid--row">
			<div class="tg-col image" data-width="62">
				<img src="https://unsplash.it/900/400?image=163" alt="Table">
			</div>
			<div class="tg-col" data-vertical-align="middle">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat voluptatibus perferendis voluptatem, ipsum reprehenderit odit repellendus expedita veniam tenetur, fuga rerum alias. Modi, saepe non. Delectus officiis, unde necessitatibus.</p>
			</div>
		</div>
	</div>
</div>



<div class="table-grid">
	<div class="table-grid--container">
		<div class="table-grid--row">
			<div class="tg-col-4"></div>
			<div class="tg-col-4"></div>
			<div class="tg-col-4"></div>
		</div>
	</div>
</div>
<!-- partial -->
  <script  src="{% static 'js/script.js' %}"></script>

</body>
</html>
